<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Which current coach did Allen Iverson disrespectfully step over in the 2001 NBA Finals?</key>
	<string>Tyronne Lue</string>
	<key>Which player scored 71 points on the final night of the regular season to pass Shaq for scoring title?</key>
	<string>David Robinson</string>
	<key>Which bust was selected above Kevin Durant in the NBA Draft?</key>
	<string>Greg Oden</string>
</dict>
</plist>
