<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>q1</key>
	<dict>
		<key>decoyAnswers</key>
		<array>
			<string>a1</string>
			<string>a2</string>
			<string>a3</string>
		</array>
		<key>content</key>
		<string>Which team did Paul Pierce play his final game for?</string>
		<key>answerIdentifier</key>
		<string>a4</string>
	</dict>
	<key>q2</key>
	<dict>
		<key>content</key>
		<string>Which team did Kobe Bryant score 81 points against?</string>
		<key>answerIdentifier</key>
		<string>a5</string>
	</dict>
	<key>q3</key>
	<dict>
		<key>content</key>
		<string>Which bust was selected above Kevin Durant in the NBA Draft?</string>
		<key>answerIdentifier</key>
		<string>a6</string>
	</dict>
</dict>
</plist>
