<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a4</key>
	<string>Los Angeles Clippers</string>
	<key>a5</key>
	<string>Toronto Raptors</string>
	<key>a6</key>
	<string>Greg Oden</string>
</dict>
</plist>
