<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>a4</key>
	<string>Los Angeles Clippers</string>
	<key>a5</key>
	<string>Toronto Raptors</string>
	<key>a6</key>
	<string>Greg Oden</string>
	<key>a7</key>
	<string>1960</string>
	<key>a8</key>
	<string>1979</string>
	<key>a9</key>
	<string>Jerry West</string>
	<key>a10</key>
	<string>Eddie Jones</string>
	<key>a11</key>
	<string>Orlando Magic</string>
	<key>a12</key>
	<string>Antawn Jaminson</string>
	<key>a13</key>
	<string>Allen Iverson</string>
	<key>a14</key>
	<string>Toronto Raptors and Vancouver Grizzlies</string>
	<key>a15</key>
	<string>1992</string>
	<key>a16</key>
	<string>Kareem Abdul-Jabar</string>
	<key>a17</key>
	<string>Julius Erving</string>
	<key>a18</key>
	<string>James Worthy</string>
</dict>
</plist>
