<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Which team did Paul Pierce play his final game for?</key>
	<string>Los Angeles Clippers</string>
	<key>Which team did Kobe Bryant score 81 points against?</key>
	<string>Toronto Raptors</string>
	<key>Who won the NBA Finals MVP for the Detroit Pistons in 2004?</key>
	<string>Chauncey Billups</string>
	<key>Who did the San Antonio Spurs beat to win their first NBA Championship?</key>
	<string>New York Knicks</string>
</dict>
</plist>
